/* Fonts Imports */
@import url(https://fonts.googleapis.com/css2?family=Rochester);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Brush+Script);


/* Variables */
:root{
  --h3Color:#f8df6d;
  --pColor:#fff;
  --mainFont: 'Rochester', cursive;
  --contentFont: 'Nanum Brush Script', cursive;
}

/* changes in html elements */

body{
  background-image: url(assets/grunge-paper-background.jpg);
}

a{
  font-family: Poiret One;
  font-size: 18px;
  color: #ebc82f
}

ul {
  color: aliceblue;
}

/* changes in elements by ID */

#zen-intro{
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3,1fr);

}

#zen-supporting{
  margin-top: 2%;

  border-top-width: 5px;
  border-top-style: dotted;
  border-top-color: #cfb53b;
  
  border-bottom-width: 5px;
  border-bottom-style: dotted;
  border-bottom-color: #cfb53b;

}
#zen-supporting h3{
  font-family: Rochester;  
  font-size:40px;
  color:var(--h3Color);
}

#zen-supporting p{
  font-family: var(--contentFont) ;  
  font-size: 32px;
  color: var(--pColor);
}

#zen-supporting footer{
  display: flex;
  justify-content: center;
}

/* changes in elements by Class */

.page-wrapper{
  padding-left: 10px;
}

.intro header {
  grid-column: 2;
  text-align: left;
  margin-left: 5rem;
  
}
.intro h1 {
  font-family: var(--mainFont);
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  color: aliceblue;

}
.intro h2{
  text-align: right;
  margin-top:-3rem;
  margin-right: 1rem;

  font-family: var(--mainFont);
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: aliceblue;

}
.summary{
  grid-row: 2;
  grid-column: 3;
  width: 70%;
  margin-left: 5rem;
  padding-left: 2rem;

  font-family: var(--contentFont);
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
  color: aliceblue;

  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #ffec97;
  
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #ffec97;
}
.preamble{
  margin-top: 1%;

  grid-row: 3;
  grid-column-end: span 3;
  text-align: left;
}

.preamble h3{
  font-family: Rochester;  
  font-size: 40px;
  color: #f8df6d;
}
.preamble p{
  font-family: var(--contentFont) ;  
  font-size: 32px;
  color: aliceblue;
}

.explanation{
  margin: 1%;  
}

.participation{
  margin: 1%;
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: #ffec97;
}

.benefits{
  margin: 1%;
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: #ffec97;
}

.requirements{
  margin: 1%;
  margin-bottom:5%;
  border-top-width: 3px;
  border-top-style: dotted;
  border-top-color: #ffec97;
}

.zen-validate-html{
  margin: 1%;

  text-indent:-9999px;
  display:inline-block;
  width:40px;
  height:50px;
  background: url(assets/html.svg) no-repeat 0 0 transparent;
  vertical-align:middle;
}

.zen-validate-css{
  margin: 1%;

  text-indent:-9999px;
  display:inline-block;
  width:40px;
  height:50px;
  background: url(assets/css.svg) no-repeat 0 0 transparent;
  vertical-align:middle;
}

.zen-license{
  margin: 1%;

  text-indent:-9999px;
  display:inline-block;
  width:40px;
  height:50px;
  background: url(assets/cc.svg) no-repeat 0 0 transparent;
  vertical-align:middle;
}

.zen-accessibility{
  margin: 1%;

  text-indent:-9999px;
  display:inline-block;
  width:40px;
  height:50px;
  background: url(assets/ally.svg) no-repeat 0 0 transparent;
  vertical-align:middle;
}

.zen-github{
  margin: 1%;

  text-indent:-9999px;
  display:inline-block;
  width:40px;
  height:50px;
  background: url(assets/git.svg) no-repeat 0 0 transparent;
  vertical-align:middle;
}
.supporting footer {
  margin-bottom:15px;
}
.sidebar a{
  color:#fff;
}
.sidebar h3{
  font-family: Rochester;  
  font-size: 40px;
  color: #cfb53b;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.design-selection{
  margin: 3%;
  padding:2%;
  border: 3px;
  border-style: dashed;
  border-color: #f8f8f8;
}


.design-archives{
  margin: 3%;
  padding:2%;
  border: 3px;
  border-style: dashed;
  border-color: #ffffff;
}

.zen-resources{
  margin: 3%;
  padding:2%;
  border: 3px;
  border-style: dashed;
  border-color: #ffffff;
}